#header {
  padding: 20px 0;
  background: white;
  .container {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: white;
      img {
        width: 100px;
      }
      &--nav{
        display: flex;
        align-items: center;
        background: white;
        gap: 60px;
        a{
            font-size: 24px;
            color: black;
            background: none;
        }
      }
    }
  }
}
