#admin {
  padding: 40px 0;
  display: flex;
  align-items: center;
  gap: 150px;
  .adminModal {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 300px;
    height: 400px;
    background: white;
    padding: 30px 30px;
    transform: translateY(-43px);
    border: none;
    border-radius: 0 0 10px 0;
    a {
      background: white;
      font-size: 22px;
      font-weight: 700;
      transition: 0.7s;
    }
    a:hover{
      padding: 10px 20px;
      background: gray;
      border-radius: 10px;
      color: white;

    }
  }
  .container {
    .admin {
      margin-top: 80px;
      display: flex;
      align-items: center;
      gap: 200px;
      input {
        width: 407px;
        height: 289px;
        border-radius: 10px;
        font-weight: 400;
        font-size: 36px;
        background: rgb(217, 217, 217);
        padding-left: 70px;
      }
      &--article {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
          width: 409px;
          height: 67px;
          padding: 10px 20px;
          border-radius: 10px;
          border: none;
          background: rgb(217, 217, 217);
          font-weight: 500;
          font-size: 24px;
          letter-spacing: 10%;
        }
        button {
          width: 254px;
          height: 80px;
          border-radius: 10px;
          font-weight: 500;
          font-size: 36px;
          letter-spacing: 3%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(221, 170, 39, 1);
          color: white;
          border: none;
          transform: translateY(30px);
        }
      }
    }
  }
}
