#adminList {
  padding: 60px 0;
  display: flex;
  align-items: center;
  gap: 200px;
  .adminModal {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 300px;
    height: 400px;
    background: white;
    padding: 30px 30px;
    transform: translateY(-150px);
    border: none;
    border-radius: 0 0 10px 0;
    a {
      background: white;
      font-size: 22px;
      font-weight: 700;
      transition: 0.7s;
    }
    a:hover {
      padding: 10px 20px;
      background: gray;
      border-radius: 10px;
      color: white;
    }
  }
  .container {
    .adminList {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 500px;
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &--card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 800px;
        height: 140px;
        border-radius: 10px;
        border: 2px solid gray;
        padding: 20px;
        &__data {
          display: flex;
          align-items: center;
          gap: 60px;
          img {
            width: 160px;
            height: 120px;
            object-fit: contain;
          }
          &--text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h2 {
              font-size: 25px;
              font-weight: 600;
            }
          }
        }
        &__btn {
          display: flex;
          gap: 20px;
          button{
            width: 80px;
            height: 35px;
            border-radius: 10px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
